@import './base.css';

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Remove max-width on #app to allow full width */
#app {
    width: 100%; /* Full width of its parent container */
    max-width: 100%; /* Allow app to stretch across the screen */
    font-weight: normal;
}

/* Main container specific styles */
#main-cont {
    margin-top: 100px;
    min-height: calc(100vh - 60px - 353px) !important;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
}
